@import url('https://fonts.googleapis.com/css?family=Bungee|Work+Sans');

:root {
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

header p.logo {
    font-family: 'Bungee', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

nav ul.menu {
    padding-left: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 0;
    justify-content: space-around;
}


nav ul.menu li {
    list-style: none;
}

nav ul.menu li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
}



nav ul.menu li a:hover {
    text-decoration: underline;
}

.banner {
    min-height: 500px;
    background-image: url(../img/tesla.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.banner .button-container {
    display: flex;
    justify-content: center;
}



@media (min-width: 660px) {
    header nav {
        display: flex;
    }
    
    header nav .logo {
        margin-left: 20px;
    }


    header nav ul.menu li {
        margin: 0 2%;
    }
    
    header nav ul.menu li:last-child {
        margin-left: auto;
        margin-right: 20px;
    }
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}